body {
    background-color: rgb(0, 0, 0);
}
header {
    border-radius: 5px;
    height: flex;
    justify-content: space-between;
    background-color: darkblue;
    border: 2px solid white;
    text-align: center;
    display: flex;
    align-items: center;
}
button{
    font-family:'Trebuchet MS';
    letter-spacing: 2px;
    border: 2px solid white;
    border-radius: 5px;
    background-color:rgb(0, 0, 0);
    color: white;
    margin: 10px 40px 10px 0px;
    width: 200px;
    transition-duration: 0.5s;
    height: 50px;
    cursor: pointer;
}
button:hover {
    border: 2px solid black;
    color: black;
    background-color:white;
    scale: 1.05;
    margin: 0;
}
.butoes{
    display: inline-flex;
    margin-inline: 10px;
    padding-left: 0;
    align-items: center;
}
#bot {
    border: 3px solid white;
    border-radius: 5px;
    padding: 200px 0px 200px 40px;
    background-color: darkblue;
}

h1 {
    color: white;
    margin: 10px 10px 10px 40px;
    font-size: 50px;
    font-family:'Trebuchet MS';
    letter-spacing: 3px;
}
h2 {
    margin: 0px 10px 10px 10px;
    font-family:'Trebuchet MS';
    color: white;
    font-size: 20px;
    text-align: justify;
    justify-content: space-between;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    transition: .5s;
}
h2:hover{
    scale: 1.01;
    border-radius: 5px;
    border: 2px solid white;
}
ul{
    list-style-type: none;
}
img {
    width: 700px;
    transition: .4s;
}
img:hover {
    scale: 1.01;
}
.imagem img{
    margin: 20px 10px 0px 10px;
    border: 2px solid white;
    border-radius: 5px;
    max-width: 70%;
    min-width: 0px;
}
.imagem {
    text-align: center;
}